.chat-list__container {
    position: absolute;
    width: 310px;
    height: 720px;
    left: 0px;
    top: 0px;
    border-radius: 25px 0 0 25px;

    background: #f3f2f2;

    overflow-y: scroll;
    overflow-x: hidden !important;
}

.chat-list__container__profile-link {
    position: absolute;
    width: 66px;
    height: 12px;
    left: 234px;
    top: 21px;

    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    overflow: hidden;

    color: #999999;
}

.chat-list__container ul {
    width: auto;
    height: fit-content;
    padding: 0;
}

.chat-list__container::-webkit-scrollbar {
    width: 0;
  }

.chat-list__container hr {
    position: relative;
    width: 90%;
    height: 0.5px;
    margin:  auto; 
    background-color:#555;
    border:0px none;
    height:1px;
    clear:both;

    background: #E5E5E5;    
}

.chat-list__search__container {
    position: absolute;
    width: 290px;
    height: 32px;
    left: 10px;
    top: 56px;

    background: #E5E5E5;
    border-radius: 7px;
}

.chat-list__search__input {
    position: relative;
    font-family: monospace;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: 0 0;
    height: 30px;
    margin:  auto;
    margin-bottom: 10%;
    outline: none !important;
    border: none !important;
    
    transition: all .4s; 
}

.chat-list__search__container:hover, .chat-list__search__container:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.chat-list__item {
    position: relative;
    width: 100%;
    height: 70px;
    top: 90px;
    border-radius: 5px;
}

.chat-list__item:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    ;
}

.chat-list__item__chat-author__container {
    position: absolute;
    width: 193px;
    height: 13px;
    left: 67px;
    top: 10px;

    font-family: monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;

    color: #1E1E1E;
}

.chat-list__item__avatar__container {
    position: relative;
    width: 47px;
    height: 47px;
    left: 10px;
    top: 10px;
    border-radius: 23.5px;

    background: #E5E5E5;
}

.chat-list__item__last-message__container {
    position: absolute;
    width: 193px;
    height: 30px;
    left: 67px;
    top: 27px;

    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    overflow: hidden;

    color: #999999;
}

.chat-list__item__counter {
    position: relative;
    width: 20px;
    height: 20px;
    left: 270px;
    bottom: 30px;

    background: #3369F3;
    border-radius: 10px;

    text-align: center;
    vertical-align: middle;

    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: white;
}

.chat-list__item__time {
    position: relative;
    width: 20px;
    height: 20px;
    left: 270px;
    bottom: 45px;    

    text-align: center;
    vertical-align: middle;
    
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #999999;
}

.chat-container__dummy {
    position: relative;
    width: 970px;
    height: 100%;
    margin-left: 310px;

    background: #c4c3c3;

    border-radius: 0 25px 25px 0;
}

.chat-container__dummy__content {
    position: relative;
    width: 40%;
    height: 5%;
    margin: auto;
    top: 50%;   

    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;

    text-align: center;
}

.chat-container {
    position: relative;
    width: 970px;
    height: 100%;
    margin-left: 310px;

    background: #ecebeb;

    border-radius: 0 25px 25px 0;
}


.chat-container hr {
    position: relative;
    width: 90%;
    height: 0.5px;
    margin:  auto; 
    background-color:#555;
    border:0px none;
    height:1px;
    clear:both;

    background: #c9c7c7;    
}

.chat-container p {
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;

    text-align: center;
}

.messages-container {
    position: relative;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden !important;
}

.messages-container::-webkit-scrollbar {
    width: 0;
}


.chat-container__message-input {
    position: relative;
    width: 75%;
    height: 5%;
    margin-left: 12.5%;
    top: 2%;
    padding: 0;
    
    background: #d4d4d4;
    border-radius: 10px;

    outline: none !important;
    border: none !important;
}

.chat-container__message-input:hover, .chat-container__message-input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.chat-container__interlocutor-container {
    position: relative;
    width: 100%;
    height: 10%;
}

.my-message-container {
    position: relative;
    width: 45%;
    height: fit-content;
    left: 50%;
    margin-top: 10px;
}

.my-message-box {
    width: fit-content;
    height: 100%;
    float: right;
    padding: 10px;

    border-radius: 10px 10px 0 10px;

    background: #c8c8c9;
}

.interlocutor-message-container {
    position: relative;
    width: 45%;
    height: fit-content;
    left: 5%;
    margin-top: 15px;
}

.interlocutor-message-box {
    width: fit-content;
    height: 100%;
    float: left;
    padding: 10px;
    
    border-radius: 0px 10px 10px 10px;
    background: #c8c8c9;

}

.interlocutor-message-box__message {
    position: relative;
}