.error-container {
    width: 45%;
    height: 45%;

    align-self: center;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    vertical-align: middle;

    font-family: monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 15px;
    color: #363535;
}